@model Model.Register.Product

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Title = "Viewing the data of a Product";
}


@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Changing the data of a Product
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Products/_PartialEditContentPanel.cshtml", Model)
            </div>
        </div>
            <div class="panel-footer panel-info">
           <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Save Changes" class="btn btn-danger" />
          @Html.ActionLink("Return Of List Product", "Index", null, new { @class = "btn btn-warning" })
          </div>
         <br />
        <br />
       </div>
}
@section ScriptPage{

    <script type="text/javascript">
            $(document).ready(function () {
                $('li').removeClass("active");
                $('#liProducts').addClass("active");
            });

    </script>

}